<html>
  <head>
    <title>Game</title>
    <script src="/javascripts/three.js"></script>
	<script src="/javascripts/Game/Utility.js"></script>
    <script src="/javascripts/Game/Camera.js"></script>
	<script src="/javascripts/Game/Keyboard.js"></script>
	<script src="/javascripts/Game/Mouse.js"></script>
    <script src="/javascripts/Game/UserInterface.js"></script>
	<script src="/javascripts/Game/Lighting.js"></script>
    <script src="/javascripts/Game/Player.js"></script>
	<script src="/javascripts/Game/Enemy.js"></script>
	<script src="/javascripts/Game/Testing.js"></script>
    <script src="/javascripts/Game/GameManager.js"></script>
    
    
      <style>
      body {
        margin: 0;
        color: #f7f5fa;
      }

      #UI {
        position: absolute;
      }
      </style>
  </head>
  <body>
 <div id="container">
      <div id="UI">
          <span id="score"></span></br>

          <span id="playerShip"><b>Player Ship:</b></span></br>
          <span id="shipPosition"></span></br>
          <span id="shipRotation"></span></br>
		  <span id="shipTarget"></span></br>
		  <span id="shipDistanceToTarget"></span></br>
			<br>
          <span id="camera"><b>Camera:</b></span></br>
          <span id="cameraPosition"></span></br>
          <span id="cameraRotation"></span></br>
		  <span id="cameraUp"></span></br>
		    <br>
		  <span id="camera"><b>Mouse:</b></span></br>
          <span id="mousePositionX"></span></br>
          <span id="mousePositionY"></span></br>
      </div>
	  <!-- <script src="/javascripts/Game/Game_Test.js"></script> -->
	  <script src="/javascripts/Game/Game.js"></script>
    </div>
  </body>
</html>
