<html>
  <head>
    <title>Game</title>
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/Game/Camera.js"></script>
    <script src="/javascripts/Game/Controls.js"></script>
    <script src="/javascripts/Game/UserInterface.js"></script>
    <script src="/javascripts/Game/GameManager.js"></script>
    <script src="/javascripts/Game/Lighting.js"></script>
    <script src="/javascripts/Game/Player.js"></script>
    <script src="/javascripts/Game/Keyboard.js"></script>


      <style>
      body {
        margin: 0;
        color: #f7f5fa;
      }

      #UI {
        position: absolute;
      }
      </style>
  </head>
  <body>
 <div id="container">
      <div id="UI">
          <span id="score"></span></br>

          <span id="playerShip"><b>Player Ship:</b></span></br>
          <span id="shipPosition"></span></br>
          <span id="shipRotation"></span></br>

          <span id="camera"><b>Camera:</b></span></br>
          <span id="cameraPosition"></span></br>
          <span id="cameraRotation"></span></br>
      </div>
      <script src="/javascripts/Game/Game.js"></script>
    </div>
  </body>
</html>
