<html>
  <head>
    <title>Game</title>
    <script src="/javascripts/three.min.js"></script>
    <script src="/javascripts/Game/GameManager.js"></script>
    <style>
      body {
        margin: 0;
        color: #f7f5fa;
      }

      #UI {
        position: absolute;
      }
      </style>
  </head>
  <body>
 <div id="container">
      <div id="UI">
        <span id="Score"></span></br>
      </div>
      <script src="/javascripts/Game/Game.js"></script>
    </div>
  </body>
</html>
