<html>
  <head>
    <title>Game</title>
    <script src="/javascripts/three.min.js"></script>
    <style>
      body {
        margin: 0;
        color: #f7f5fa;
      }

      #body {
        position: absolute;
      }
      </style>
  </head>
  <body>
  <div id="body">
    <div id="container">
      <div id="UI">
        <span id="Score">Score:</span></br>
        <script src="/javascripts/threeCube.js"></script>
      </div>

    </div>
  </div>
  </body>
</html>
