<html ng-app>
<head>
  <title>blocks</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>

  <style>
    body { margin: 0; }
    canvas { width: 100px; height: 100px }
  </style>
</head>
<body>
<script src="/javascripts/threeCube.js"></script>

</body>
</html>
