<html ng-app="mtgCardApp">
<head>
  <title>blocks</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <style>
    body { margin: 0; }
    canvas { width: 100px; height: 100px }
  </style>
</head>
<body ng-controller="CardCtrl">
<!--<script src="/javascripts/threeCube.js"></script>-->
{{message}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="/javascripts/mtgCardApp.js"></script>
<script src="/javascripts/cardController.js"></script>
</body>
</html>
