<html>
  <head>
    <title>tbs</title>
    <script src="/javascripts/three.js"></script>
	<script src="/javascripts/Game/Graphics.js"></script>
	<script src="/javascripts/Game/Keyboard.js"></script>
	<script src="/javascripts/Game/Mouse.js"></script>
  </head>
  <body>
 <div id="container"></div>
  </body>
  <script src="/javascripts/tbs/tbs.js"></script>
</html>
