<html>
  <head>
    <title>tbs</title>
    <script src="/javascripts/three.js"></script>
	<script src="/javascripts/Game/Graphics.js"></script>
	<script src="/javascripts/Game/Keyboard.js"></script>
  <script src="/javascripts/Game/Mouse.js"></script>
  <script src="/javascripts/tbs/ui.js"></script>
  <script src="/javascripts/tbs/factory.js"></script>
  <script src="/javascripts/tbs/controls.js"></script>
  <script src="/javascripts/tbs/map_controller.js"></script>
  <script src="/javascripts/tbs/player.js"></script>
  <style>
      body {
        margin: 0;
        color: #f7f5fa;
      }

      #UI {
        position: absolute;
      }
      </style>
  </head>
  <body>
  <div id="container">
    <div id="UI">
      <span id="player"><b>Player Data:</b></span></br>
      <span id="position_world"></span></br>
      <br>
      <span id="position_tile"></span></br>
      <br>
      <span id="mouse_transformed"></span></br>
      <br>
      <span id="mouse_event_client"></span></br>
      <br>
      <span id="player_click_mouse"></span></br>
      </br>
      <span id="player_click_tile"></span></br>
    </div>
    <script src="/javascripts/tbs/tbs.js"></script>
  </div>
  </body>
</html>
