body {
    position: relative;
    z-index: 1;
    font-size: 12px;
    background-color: #0E0E0E;
    color: #841313;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
}

.headerRow {
    position: relative;
    z-index: 1;
    font-size: 17px;
    background-color: #0E0E0E;
    color: #841313;
    padding: 0;
    letter-spacing: 1px;
}

#body {
    position: absolute;
}